.main {
    display: flex;
    flex-direction: column;
}
.form {
    display: grid;
    grid-template: 50px 50px 50px / 1fr;
    gap: 20px;
    padding: 50px;
}
.form__text {
padding: 0 10px;
}
.form__btn {
    grid-area: 3 / 1 / 3 / 1;
    background: linear-gradient(
        90deg, 
        var(--PURPLE),
        var(--LIGHT-PURPLE)
    );
    color: var(--WHITE);
    border: none;
    cursor: pointer;
}

.form__btn, .form__text {
    border-radius: 7px;
    font-size: 1.2em;
    font-family: 'Karla', sans-serif;
}
.meme {
    margin: 0 auto;
    width: 88%;
    max-width: 800px;
    display: grid;
    grid-template: 1fr / 1fr;
    justify-items: center;
}
.meme__image {
   width: 100%;
   grid-area: 1 / 1 / 1 / 1;
}
.meme__text {
   grid-area: 1 / 1 / 1 / 1;
   font-weight: 700;
   font-size: 2.5em;
   color: var(--WHITE);
   text-shadow: 
        2px 2px 0 black,
        -2px 2px 0 black,
        -2px -2px 0 black,
        2px -2px 0 black;
        text-align: center;
} 
.meme__text--top {
    align-self: flex-start;
    margin-top: 8px;

}
.meme__text--bottom {
    align-self: flex-end;
    margin-bottom: 8px;
}

@media (min-width: 656px) {
    .form {
        grid-template: 50px 50px / 1fr 1fr;
    }
    .form__btn {
        grid-area: 2 / 1 / 2 / span 2;
    }
}